{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ invoice.number ?? ('#' ~ invoice.id) }} - {{ 'admin.nav.invoices'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        title: invoice.number ?? ('Facture #' ~ invoice.id),
        crumbs: [
            {label: 'admin.modules.billing'|trans, href: path('billing_invoices')},
            {label: 'admin.nav.invoices'|trans, href: listPath},
            {label: invoice.number ?? ('#' ~ invoice.id)},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('billing/admin/InvoiceShowApp', {
    invoice: invoice,
    listPath: listPath,
    validatePath: validatePath,
    deletePath: deletePath,
    updatePath: updatePath,
    supplierUpdatePathTemplate: supplierUpdatePathTemplate,
    lineCreatePath: lineCreatePath,
    lineUpdatePathTemplate: lineUpdatePathTemplate,
    lineDeletePathTemplate: lineDeletePathTemplate,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
