{% extends 'shared/email/layout/base.html.twig' %}

{% block content %}
<h1>{{ 'shared.mail.access_request_rejected.heading'|trans }}</h1>
<p>{{ 'shared.mail.access_request_rejected.greeting'|trans({'{name}': request.requesterName ?? request.requesterEmail}) }}</p>
<p>{{ 'shared.mail.access_request_rejected.intro'|trans }}</p>
<p>{{ 'shared.mail.access_request_rejected.retry'|trans }}</p>

<p class="warning">{{ 'shared.mail.access_request_rejected.footer_note'|trans }}</p>
{% endblock %}
