{% extends '@Shared/email/layout/base.html.twig' %}

{% block content %}
<h1>{{ 'shared.mail.invitation.heading'|trans }}</h1>
<p>{{ 'shared.mail.invitation.greeting'|trans({'{name}': userName}) }}</p>
<p>{{ 'shared.mail.invitation.intro'|trans({'{siteName}': siteName ?? 'Velox'}) }}</p>

{% if customMessage %}
<table class="panel" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td class="panel-content">{{ customMessage }}</td>
    </tr>
</table>
{% endif %}

{{ include('@Shared/email/partials/action_button.html.twig', {
    url: invitationUrl,
    label: 'shared.mail.invitation.cta'|trans,
}) }}

{% if expiresAt %}
<p class="warning">{{ 'shared.mail.invitation.expires'|trans({'{date}': expiresAt|date('d/m/Y H:i')}) }}</p>
{% endif %}

<div class="subcopy">
    <p class="sub">{{ 'shared.mail.invitation.fallback_intro'|trans }}</p>
    <p class="fallback"><a href="{{ invitationUrl }}">{{ invitationUrl }}</a></p>
</div>

<p class="warning">{{ 'shared.mail.invitation.footer_note'|trans }}</p>
{% endblock %}
