{% extends '@Shared/email/layout/base.html.twig' %}

{% block content %}
<h1>{{ 'shared.mail.reset_password.heading'|trans }}</h1>
<p>{{ 'shared.mail.reset_password.greeting'|trans({'{name}': userName}) }}</p>
<p>{{ 'shared.mail.reset_password.intro'|trans({'{siteName}': siteName ?? 'Velox'}) }}</p>

{{ include('@Shared/email/partials/action_button.html.twig', {
    url: resetUrl,
    label: 'shared.mail.reset_password.cta'|trans,
}) }}

{% if expiresAt %}
<p class="warning">{{ 'shared.mail.reset_password.expires_at'|trans({'{date}': expiresAt|date('d/m/Y H:i')}) }}</p>
{% else %}
<p class="warning">{{ 'shared.mail.reset_password.expires'|trans }}</p>
{% endif %}

<div class="subcopy">
    <p class="sub">{{ 'shared.mail.reset_password.fallback_intro'|trans }}</p>
    <p class="fallback"><a href="{{ resetUrl }}">{{ resetUrl }}</a></p>
</div>

<p class="warning">{{ 'shared.mail.reset_password.footer_note'|trans }}</p>
{% endblock %}
