{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ contact.fullName }} - {{ 'admin.nav.contacts'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        title: contact.fullName,
        crumbs: [
            {label: 'admin.modules.crm'|trans, href: path('crm_contacts')},
            {label: 'admin.nav.contacts'|trans, href: backPath},
            {label: contact.fullName},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('crm/admin/contacts/ContactDetailApp', {
    contact: contact,
    activity: activity,
    updatePath: updatePath,
    deletePath: deletePath,
    backPath: backPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
