{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ gallery.title }} - {{ 'admin.nav.galleries'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        title: gallery.title,
        crumbs: [
            {label: 'admin.nav.galleries'|trans, href: path('admin_galleries')},
            {label: gallery.title},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('photo/admin/GalleryEditApp', {
    gallery: gallery,
    items: items,
    picks: picks,
    comments: comments,
    finalizations: finalizations,
    invites: invites,
    backPath: path('admin_galleries'),
    previewPath: previewPath,
    reopenPath: reopenPath,
    finalizationDeletePath: finalizationDeletePath,
    invitesCreatePath: invitesCreatePath,
    invitesSendPath: invitesSendPath,
    invitesDeletePath: invitesDeletePath,
    exportPath: exportPath,
    updatePath: updatePath,
    itemsAddPath: itemsAddPath,
    itemsReorderPath: itemsReorderPath,
    itemsCaptionPath: itemsCaptionPath,
    itemsDeletePath: itemsDeletePath,
    itemsBulkDeletePath: itemsBulkDeletePath,
    commentDeletePath: commentDeletePath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
