{% extends '@Core/admin/base_guest.html.twig' %}

{% block title %}{{ 'admin.auth.login.title'|trans }} - {{ parent() }}{% endblock %}

{% block hero %}
    {{ include('@Shared/components/auth_hero.html.twig') }}
{% endblock %}

{% block form_icon %}log-in{% endblock %}
{% block form_title %}{{ 'admin.auth.login.title'|trans }}{% endblock %}
{% block form_subtitle %}{{ 'admin.auth.login.subtitle'|trans }}{% endblock %}

{% block content %}
    <div {{ vue_component('core/admin/auth/LoginApp', {
        checkPath: path('backend_login'),
        csrfToken: csrf_token('authenticate'),
        forgotPath: path('backend_forgot_password'),
        registerPath: path('backend_register'),
        accessRequestPath: path('backend_access_request'),
        registrationEnabled: registrationEnabled,
        accessRequestEnabled: accessRequestEnabled,
        lastUsername: last_username,
        errorMessage: error ? error.messageKey|trans(error.messageData, 'security') : '',
    }) }}></div>
{% endblock %}
