{% extends '@Core/admin/base_guest.html.twig' %}

{% block title %}{{ 'admin.auth.register_confirm.title'|trans }} - {{ parent() }}{% endblock %}

{% block hero %}
    {{ include('@Shared/components/auth_hero.html.twig') }}
{% endblock %}

{% block form_icon %}mail-check{% endblock %}
{% block form_title %}{{ 'admin.auth.register_confirm.title'|trans }}{% endblock %}

{% block content %}
    <div {{ vue_component('core/admin/auth/RegisterConfirmApp', {
        loginPath: path('backend_login'),
        resendPath: path('backend_resend_verification'),
        pendingEmail: pendingEmail ?? '',
        resent: resent,
    }) }}></div>
{% endblock %}
