{% extends '@Core/admin/base_guest.html.twig' %}

{% block title %}{{ 'admin.auth.reset_password.title'|trans }} - {{ parent() }}{% endblock %}

{% block hero %}
    {{ include('@Shared/components/auth_hero.html.twig') }}
{% endblock %}

{% block form_icon %}key-round{% endblock %}
{% block form_title %}{{ 'admin.auth.reset_password.title'|trans }}{% endblock %}

{% block content %}
    <div {{ vue_component('core/admin/auth/ResetPasswordApp', {
        submitPath: path('admin_reset_password', {selector: selector, token: token}),
        initialErrors: errors,
    }) }}></div>
{% endblock %}
