{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ product.name }} - {{ 'admin.nav.products'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        title: product.name,
        crumbs: [
            {label: 'admin.modules.erp'|trans, href: path('erp_products')},
            {label: 'admin.nav.products'|trans, href: backPath},
            {label: product.name},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('erp/admin/products/ProductDetailApp', {
    product: product,
    activity: activity,
    backPath: backPath,
    updatePath: updatePath,
    deletePath: deletePath,
    activityPath: activityPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
