{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ order.number }} - {{ 'backend.nav.orders'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        title: order.number,
        crumbs: [
            {label: 'backend.modules.ecommerce'|trans, href: path('backend_ecommerce_listings')},
            {label: 'backend.nav.orders'|trans, href: backPath},
            {label: order.number},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('ecommerce/backend/orders/OrderDetailApp', {
    order: order,
    activity: activity,
    backPath: backPath,
    updateStatusPath: updateStatusPath,
    refundPath: refundPath,
    canManage: is_granted('ecommerce.orders.manage'),
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
