{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ company.name }} - {{ 'backend.nav.companies'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        title: company.name,
        crumbs: [
            {label: 'backend.nav.sections.crm'|trans},
            {label: 'backend.nav.companies'|trans, href: backPath},
            {label: company.name},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('crm/backend/CompanyDetailApp', {
    company: company,
    contacts: contacts,
    companyId: company.id,
    updatePath: updatePath,
    deletePath: deletePath,
    backPath: backPath,
    createContactPath: createContactPath,
    contactsListPath: contactsListPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
