{% extends '@Shared/email/layout/base.html.twig' %}

{% block title %}{{ 'personal_finance.mail.invitation.title'|trans({'{walletName}': walletName}) }}{% endblock %}

{% block content %}
<h1>{{ 'personal_finance.mail.invitation.heading'|trans }}</h1>

<p>{{ 'personal_finance.mail.invitation.intro'|trans({
    '{inviterName}': inviterName,
    '{walletName}': walletName,
    '{role}': ('personal_finance.wallets.roles.' ~ role.value)|trans,
}) }}</p>

<p>{{ 'personal_finance.mail.invitation.expiry'|trans({'{date}': expiresAt|date('d/m/Y')}) }}</p>

{{ include('@Shared/email/partials/action_button.html.twig', {
    url: acceptUrl,
    label: 'personal_finance.mail.invitation.cta'|trans,
}) }}

<p style="color: #888; font-size: 12px; margin-top: 32px;">
    {{ 'personal_finance.mail.invitation.fallback_link'|trans }}<br>
    <a href="{{ acceptUrl }}">{{ acceptUrl }}</a>
</p>

<p style="color: #888; font-size: 12px;">
    {{ 'personal_finance.mail.invitation.ignore_notice'|trans }}
</p>
{% endblock %}
