{% extends '@Core/admin/layout.html.twig' %}

{% block title %}{{ deal.name }} - {{ 'admin.nav.deals'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        title: deal.name,
        crumbs: [
            {label: 'admin.modules.crm'|trans, href: path('crm_contacts')},
            {label: 'admin.nav.deals'|trans, href: backPath},
            {label: deal.name},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('crm/admin/deals/DealDetailApp', {
    deal: deal,
    backPath: backPath,
    updatePath: updatePath,
    deletePath: deletePath,
    updateStagePath: updateStagePath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
