{% extends '@Core/backend/layout.html.twig' %}

{% block title %}{{ invoice.number ?? ('#' ~ invoice.id) }} - {{ 'backend.nav.invoices'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('@Shared/components/page_header.html.twig', {
        title: invoice.number ?? ('Facture #' ~ invoice.id),
        crumbs: [
            {label: 'backend.nav.sections.billing'|trans},
            {label: 'backend.nav.invoices'|trans, href: listPath},
            {label: invoice.number ?? ('#' ~ invoice.id)},
        ],
    }) }}
{% endblock %}

{% block body %}
<div {{ vue_component('billing/backend/invoices/InvoiceShowApp', {
    invoice: invoice,
    listPath: listPath,
    validatePath: validatePath,
    deletePath: deletePath,
    updatePath: updatePath,
    tiersUpdatePathTemplate: tiersUpdatePathTemplate,
    lineCreatePath: lineCreatePath,
    lineUpdatePathTemplate: lineUpdatePathTemplate,
    lineDeletePathTemplate: lineDeletePathTemplate,
    creditNotePath: creditNotePath,
    showPath: showPath,
    importPath: importPath,
    ocrRetryPath: ocrRetryPath,
}) }} class="flex-1 min-w-0"></div>
{% endblock %}
