{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'nav.posts'|trans }} - {{ parent() }}{% endblock %}

{% block page_header_slot %}
    {{ include('components/page_header.html.twig', {title: 'nav.posts'|trans}) }}
{% endblock %}

{% block body %}
<div id="app-posts"
     data-locale="{{ app.request.locale }}"
     data-posts="{{ posts|json_encode|e('html_attr') }}"
     data-search="{{ search }}"
     data-post-types="{{ postTypes|json_encode|e('html_attr') }}"
     data-all-tags="{{ allTags|json_encode|e('html_attr') }}"
     data-locales="{{ locales|json_encode|e('html_attr') }}"
     data-posts-path="{{ path('admin_posts') }}"
     data-create-path="{{ path('admin_posts_create') }}"
     data-show-path="{{ path('admin_posts_show', {id: '__id__'}) }}"
     data-edit-path="{{ path('admin_posts_edit', {id: '__id__'}) }}"
     data-delete-path="{{ path('admin_posts_delete', {id: '__id__'}) }}"
     class="flex-1 min-w-0">
</div>
{% endblock %}

{% block stylesheets %}{{ parent() }}{{ vite_entry_link_tags('admin/posts') }}{% endblock %}
{% block javascripts %}{{ parent() }}{{ vite_entry_script_tags('admin/posts') }}{% endblock %}
